<!DOCTYPE HTML>
<html>

<head>
  <title>Footwear - E-Commerce</title>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rokkitt:100,300,400,700"
    rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/flexslider.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/css/style.css">

  <style>
    /* Navbar Right Elements */
    .menu-1 ul {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    .menu-1 ul .cart,
    .menu-1 ul .wishlist {
      margin-left: auto; /* push them to right */
    }

    .menu-1 ul .wishlist {
      margin-left: 10px; /* small space between cart & wishlist */
    }

    .icon-badge {
      background: red;
      color: white;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 50%;
      position: relative;
      top: -10px;
      left: -5px;
    }
  </style>
</head>

<body>
  <div id="page">
    <nav class="colorlib-nav" role="navigation" style="background-color: white;">
      <div class="top-menu">
        <div class="container">
          <div class="row">
            <!-- Logo -->
            <div class="col-sm-7 col-md-9">
              <div id="colorlib-logo"><a href="/">Footwear</a></div>
            </div>

            <!-- Profile / Login / Search -->
            <div class="col-sm-5 col-md-3">
              <form action="/search" method="GET"
                class="search-wrap d-flex align-items-center w-100">

                <% if (!locals.user) { %>
                <div class="d-flex" style="gap: 15px; margin-right: 25px;">
                  <a style="color: black;" href="/signup"><b>SignUp</b></a>
                  <a style="color: black;" href="/login"><b>Login</b></a>
                </div>
                <% } else { %>
                <div>
                  <div style="display: inline-flex;">
                    <a style="margin-right: 20px; color: black;" href="/userProfile"><b>Profile</b></a>
                    <a style="margin-right: 20px; color: black;" href="/logout"><b>Logout</b></a>
                  </div>
                </div>
                <% } %>

                <div class="form-group d-flex flex-grow-1">
                  <input type="search" name="q" class="form-control search"
                    placeholder="Search products..." style="width:max-content">
                  <button class="btn btn-primary submit-search text-center" type="submit">
                    <i class="icon-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>

          <!-- Navbar Menu -->
          <div class="row">
            <div class="col-sm-12 text-left menu-1">
              <ul>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>

                <!-- Cart + Wishlist Right Aligned -->
                <li class="cart">
                  <a href="/cart">
                    <i class="icon-shopping-cart"></i> Cart
                    <% if (locals.cartCount && locals.cartCount > 0) { %>
                      <span class="icon-badge"><%= cartCount %></span>
                    <% } %>
                  </a>
                </li>
                <li class="wishlist">
                  <a href="/wishlist">
                    <i class="icon-heart"></i> Wishlist
                    <% if (locals.wishlistCount && locals.wishlistCount > 0) { %>
                      <span class="icon-badge"><%= wishlistCount %></span>
                    <% } %>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>

      <!-- Sale Banner -->
      <div class="sale">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
              <div class="row">
                <div class="owl-carousel2">
                  <div class="item">
                    <div class="col">
                      <h3><a href="#">25% off (Almost) Everything! Use Code: SummerSale</a></h3>
                    </div>
                  </div>
                  <div class="item">
                    <div class="col">
                      <h3><a href="#">Biggest sale yet – 50% off all summer shoes</a></h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
