<%-include("../../views/partials/admin/header")%>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Users</h2>
            <p>Manage your users here.</p>
        </div>
        <div>
            <input type="text" placeholder="Search by name or email" class="form-control bg-white" />
        </div>
    </div>
    <div class="card mb-4">
        <header class="card-header">
            <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Role</option>
                        <option>Admin</option>
                        <option>Customer</option>
                        <option>Vendor</option>
                    </select>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                    <select class="form-select">
                        <option>Status</option>
                        <option>Active</option>
                        <option>Inactive</option>
                        <option>Show all</option>
                    </select>
                </div>
            </div>
        </header>
        <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Status</th>
                            <th scope="col">Joined</th>
                            <th scope="col" class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(let i=0;i<data.length;i++){%>
                        <tr>
                            <td>1001</td>
                            <td><b>Marvin McKinney</b></td>
                            <td>marvin@example.com</td>
                            <td>Admin</td>
                            <td><span class="badge rounded-pill alert-success">Active</span></td>
                            <td>03.12.2020</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">View Profile</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit User</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div>
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        <tr>
                            <td>1002</td>
                            <td><b>Leslie Alexander</b></td>
                            <td>leslie@example.com</td>
                            <td>Customer</td>
                            <td><span class="badge rounded-pill alert-warning">Inactive</span></td>
                            <td>21.02.2020</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">View Profile</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit User</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div>
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        <tr>
                            <td>1003</td>
                            <td><b>Esther Howard</b></td>
                            <td>esther@example.com</td>
                            <td>Vendor</td>
                            <td><span class="badge rounded-pill alert-success">Active</span></td>
                            <td>03.07.2020</td>
                            <td class="text-end">
                                <a href="#" class="btn btn-md rounded font-sm">View Profile</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Edit User</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div>
                                <!-- dropdown //end -->
                            </td>
                        </tr>
                        <!-- Add more rows as needed -->
                         <%}%>
                    </tbody>
                </table>
            </div>
            <!-- table-responsive //end -->
        </div>
        <!-- card-body end// -->
    </div>
    <!-- card end// -->
    <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                <li class="page-item"><a class="page-link" href="#">02</a></li>
                <li class="page-item"><a class="page-link" href="#">03</a></li>
                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <li class="page-item"><a class="page-link" href="#">16</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</section>
<!-- content-main end// -->

<%-include("../../views/partials/admin/footer")%>